<?xml version="1.0"?>
<phpunit
	bootstrap="./phpunit/bootstrap.php"
	convertErrorsToExceptions="true"
	convertWarnigsToExceptions="true"
	convertNoticesToExceptions="true"
>
	<testsuites>
		<testsuite name="Database Test Suite">
			<directory suffix="_test.php">./phpunit/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
